@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body {
    background: black url("img/bg.jpeg") no-repeat fixed 100%;
    color: #66CCCC;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    font-size: 16px;
	 }

section {
    padding-bottom: 100px;
	margin:5% auto;
        }

nav {
    width: 100%;
    height: 50px;
    cursor: pointer;
    }

nav a {
    float: left;
    font-size: 21px;
    color: #99CCCC;
    text-align: center;
    padding: 15px 20px;
    display: block;
	font-family: 'Amita',Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", sans-serif;
    text-decoration: none;
      }

nav a:hover {
    background-color: #172F47;
			}

h1 {
    font-family: 'Autour One',Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", sans-serif;
    font-size: 100px;
    color: #99CCCC;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin-top:15%;
   }

h2{
	font-size: 50px;
	text-align: left;
	font-family: 'Akronim',Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman" ,sans-serif;
  }

h4 {
	text-align: center;
	font-size: 35px;
	font-family: 'Courgette',Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", sans-serif;
	margin-left: 20px;
   }

p {
    font-size: 26px;
  }


.card {
    max-width: 550px;
    text-align: center;
    border: 7px dashed #339999;
    margin: 35px auto;;
	
	  }

.card img {
    width: 400px;
          } 

button {
    border: none;
    display: inline-block;
    padding: 8px;
    color: #003333;
    background-color: #33CCCC;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: width 2s, height 2s;
       }

button:hover {
    opacity: 0.5;
    width: 40%;
			 }

.icon {
    padding-left: 10px;
    color: #66CCCC;
    font-size: 40px;
	  }

.icon:hover {
    color: #3399FF;
			}

.main {
    max-width: 1000px;
    margin: auto;
	  }

.main img:hover {
    backgrond-color: black;
    opacity: 0.5;
				}

.min {
    width: 100%;
    height: 150px;
     }

.max {
    width: 100%;
     }

.row {
    margin: 8px -16px;
	 }

.row, .row > .column {
    padding: 8px;
					 }

.column {
    float: left;
    width: 25%;
		}

.row:after {
    content: "";
    display: table;
    clear: both;
		   }

.content {
    background-color: #0B263D;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
		 }



.gallery {
    max-width: 80%;
	margin: 10px 10% 30px;
	padding: 5px;
	position: relative;
    float: left;
	
	    }

.gallery img {
    border-radius: 15px;
    width: 300px;
    height: 300px;
	margin-left:10px;
	         }

.gallery img:hover {
    border: 3px solid #00CCCC;
    border-radius: 10px;
					}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #02090F;
    color: white;
    height: 30px;
    font-size: 20px;
	   }

@media only screen and (max-width: 1200px){
	.gallery { max-width: 90%;
		       margin-left:5%;
	         }
						  }

@media only screen and (max-width: 1130px){
	h1{font-size:70px}
	.gallery { max-width: 70%;
		       margin-left:15%;
	         }
					 	  }

@media only screen and (max-width: 922px){
    .gallery { max-width: 90%;
		       margin-left:5%;
	         }
						  }

@media only screen and (max-width: 762px) {
	h1{ font-size: 60px}
	h3 {font-size: 15px}
	p { font-size: 20px}
	.card { max-width: 500px;	
	      }
	section{ margin-left: 10px;
		     margin-top:80px;
	       } 			
	.gallery { max-width: 50%;
		        margin-left:25%;
	         }
	.column { width: 50%;
            }
						  }						  
@media only screen and (max-width:500px){
	h1{ font-size: 40px }
	h4{ font-size:25px}
	.card { max-width: 400px;
		    margin-top:75px;
	      }
	.card img { width: 200px;
              } 
    .gallery { max-width: 50%;
		       margin-left:auto;
	         }

	nav a{ float:none;
	       height: auto;
	     }
	section {margin-top:170px;
            }
	h1{ margin-top: 170px;}
 						}


